@model IEnumerable<JYP_Proyects.Web.Data.Entities.CVenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Ventas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Agregar una nueva venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
